h1 {
	text-align: center;
	color:navy;
	font-weight: bold;
	font-size: 90px;
}

h2 {

	text-align: center;
	color:	blue;
	border-bottom: 4px solid grey;
	border-color: white;
}

p {
 
    font-family: Marker Felt, fantasy;
}

footer {
	color: white;

}


body{ 
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	color: 	white;
	  background-image: url(../images/1.gif);
	  background-size: cover;

}


img.rechts {

	float: right;
	height: 100px;
    width: 25%; 
    margin-left:10px;
	margin-bottom:5px;

}





img{
    border-style: solid;
    border-width: 2px;
    border-color: gold;
	margin-top:5px;
	margin-bottom: 5px;

}



img.left {
	float: left;
	height: 200px;
    width: 25%; 
    margin-right:10px;
	margin-bottom:5px;
}




ul{
	float:right;
	list-style-type: none; 

}

ul li {
	display: inline-block;



}

ul li a {
	text-decoration: none;
	color:white;
	padding: 5px 20px;
	border: 1px solid #fff ;
	transition: 0.6s ease;
	font-family: Century Gothic;
}

ul li a:hover{
	background-color: #fff;
	color: black;
	}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
